h1{
    color: red;
}
.heading-text{
    color: rgb(255, 255, 255);
    height: 50px;
    background: rgb(255, 0, 98);
}
.bg-body-tertiary{
    background-color: red!important;
}
.logo{
    height: 88px;
    width: 150px;
}
ul.navbar-nav{
    margin-left: 340px;
}
.mapouter{
    margin-top: 100px;
    margin-bottom: 100px;

}
.silde-img{
    height: 400px;
    width: 80%;


}
.overlay{
    background: rgba(0, 0, 0, 0.466);
    height: 100%;
    width: 100%;
}